/* styles.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Add a box around the form container */
form {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.center{
    text-align:center;
}

/* Add specific styles to the form elements if needed */
/* For example:
input[type="text"] {
    /* Your styles here */



/* Additional styles for success.html template (optional) 
.success {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    color: #4CAF50;
}*/
